html, body {
    background-color: rgb(10, 10, 10);
    margin: 0;
    min-height: 100vh;
    color: white;
}

#head {
    padding-left: 50px;
    z-index: 2;
    background-color: rgb(10, 10, 10);
}

/* Navigation Links */

@media screen and (max-width: 840px) {
    .nav-link {
        display: none;
    }

    #menu {
        display: flex;
    }
}

@media screen and (min-width: 840px) {
    .nav-link {
        display: flex;
    }
    #menu, #scroll-menu {
        display: none;
    }
}

#menu {
    width: 75px;
    height: 75px;
}

#scroll-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    left: calc(100vh - 224px);
    top: 75px;
    width: 224px;
    background-color: rgb(10, 10, 10);
    height: calc(66*5px);
    border-bottom: 1px solid rgb(200, 200, 200);
    z-index: 1;
}

#nav {
    background-color: rgb(10, 10, 10);
    display: flex;
    flex-direction: row-reverse;
    padding-right: 2%;
    height: 75px;
    width: -webkit-fill-available;
    z-index: 2;
}

.nav-link, .nav-link-mobile {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 12px;
    color: antiquewhite;
    font-size: 19px;
    cursor: pointer;
}

.nav-link {
    width: 100px;
}

.nav-link-mobile {
    width: 100%;
    text-align: center;
    background-color: rgb(10, 10, 10);
    margin-top: 22px;
    margin-bottom: 22px;
}

.nav-link:hover, .nav-link-mobile:hover{
    font-size: 20px;
}

.nav-link:after /*, .nav-link-mobile:after */{
    margin-top: 10px;
    content: '';
    display: block;
    width: 100%;
    font-size: 24px;
}

.nav-link:hover:after /*, .nav-link-mobile:hover:after */{
    margin-top: 10px;
    content: '';
    display: block;
    animation: select;
    animation-duration: 500ms;
    border-bottom: 1px solid azure;
    width: 100%;
    font-size: 24px;
    text-shadow: 0px 10px 3px rgb(200, 200, 200);
}

/* .nav-link-mobile:before {
    margin-bottom: 10px;
    content: '';
    display: block;
    width: 100%;
    font-size: 24px;
}

.nav-link-mobile:hover:before {
    margin-bottom: 10px;
    content: '';
    display: block;
    animation: select;
    animation-duration: 500ms;
    border-top: 1px solid azure;
} */
  
@keyframes select {
    from {
        width: 0;
        font-size: 19px;
    }

    to {
        width: 100%;
        font-size: 24px;
    }
}

/* Content */

.data {
    display: none;
    flex-direction: column;
}

#content {
    width: calc(96% - 100px);
    min-height: 50%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
    background-color: blueviolet;
    padding: 50px;
    font-size: 20px;
}

@media screen and (max-width: 1100px) {
}

@media screen and (min-width: 1100px) {
    .page {
        display: flex;
        flex-direction: row;
    }

    #index-div-1-left {
        width: 25%;
    }
}

.page-right, .page-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Contact Form */

@media screen and (max-width: 840px) {
    input[type='text'], #message {
        width: 75%;
    }

    #message {
        height: 100px;
    }
}

@media screen and (min-width: 840px) {
    input[type='text'], #message {
        width: 600px;
    }

    #message {
        height: 500px;
    }
}

#contact-me {
    font-size: 40px;
    margin-left: 20px;
}

input, #message, #contact-form{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input[type="text"] {
    border: 0;
}

input[type="text"]:focus-visible, textarea:focus-visible {
    outline: none;
    
}

input {
    margin: 20px;
    height: 40px;
    border-radius: 10px;
    padding-left: 20px;
    font-size: 15px;
}

#message {
    margin: 20px;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 15px;
}

#contact-form {
    display: flex;
    flex-direction: column;
}

#submit {
    width: 100px;
    padding-left: 0;
}

/* Footer */

#footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.icons {
    margin-top: 20px;
    margin: 10px;
    cursor: pointer;
}

/* Go To Top */

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    /* padding: 15px; Some padding */
    border-radius: 26px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    height: 54px;
    width: 54px;
    align-items: center;
    justify-content: center;
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

#footer {
    animation: fade-in;
    animation-duration: 2s;
}

.scroll-down {
    animation: scroll-down;
    animation-duration: 500ms;
}

.scroll-up {
    animation: scroll-up;
    animation-duration: 500ms;
}

@keyframes fade-in {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes scroll-down {
    from {
        top: -255px;
    }

    to {
        top: 75px;
    }
}

@keyframes scroll-up {
    from {
        top: 75px;
    }

    to {
        top: -255px;
    }
}